body{
background: color #f5f5f5;
font-family:system-id,system-id, -apple-system, 
BlinkMacSystemFont, 'Segoe UI', 
Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
'Helvetica Neue', sans-serif,
}
.navbar{
    box-shadow:0 2px 4px rgba(0,0,0,0.1);
}
main.container{
    background-color:#ffffff;
    border-radius:8px;
    padding:2rem;
    box-shadow:0 px 10px rgba(0,0,0,0.5);
}
.donation-card{
    border:none;
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,0.6);
    transition:transform 0.15s ease,box-shadow 0.15s ease;
}
.donation-card:hover{
    transform:translateY(-3px);
    box-shadow:0 4px 12px rgba(0,0,0,0.12);
}
.donation-card img{
    object-fit:cover;
    height:180x;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
}
#cart-section.card{
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,0.08);
}
#cart-section h2{
    font-size:1.4rem;
    margin-bottom:1rem;
}
.btn-outline-primary{
    border-width:2px;
}
.btn-primary,
.btn-success{
    border-radius:999px;
    padding-inline:1.5rems;
}
#checkout-section.card{
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,0.08);
}
#checkout-section{
    height:34px;
    padding:0.25rem 0.5rem;
    font-size:0.9rem;
    border-radius:6px;
}

#thankYouModal .modal-body{
    background :rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
    border-radius:10px; 
}

#thankYouModal .modal-content{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    padding:20px;
    border-radius:12px;
}


#thankYouModal .modal-body * {
    color:#ffffff !important;
    font-weight:600;
    text-shadow:0 0 5px black;
}
#gallery{
    background:linear-gradient(130deg,#fff8e7,#483e43);
    padding:20px;
    box-shadow:0 0 15px;
}
